nav {
    justify-content: space-around;
    display: flex;
}
<!--
iv:hover {
    border: 1px solid;
    -->
}

.hyper {
    border: 1px solid;
    text-decoration: none;
    color: black;
}

.hyper:hover {
    background: grey;
    color: red;
}

div {
    display: flex;
    justify-content: center;
}

div1 {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
}